---
import Layout from "../../layouts/Layout.astro";
import fetchProducts from "../../db";
import ProductCard from "../../components/ProductCard.astro";

export const prerender = false;
const { category } = Astro.params;

function textTranslate(category) {
    if(category == "man") {
        return "Hombre";
    } else if(category == "women") {
        return "Mujer";
    } else if(category == "kids") {
        return "Niños";
    } else {
        return "404";
    }
}

const categoryTranslate = textTranslate(category);

let allProducts;

try {
    allProducts = await fetchProducts();
} catch (error) {
    console.error(error.message);
}
const categoryProducts = allProducts?.filter((element) => element.category === categoryTranslate);

const categoryProductsArr = {
  Niños: [
    { title: "Zapatos", url: "/kid-shoes.webp" },
    { title: "Ropa", url: "/kid-clothes.webp" },
  ],
  Hombre: [
    { title: "Zapatos", url: "/man-shoes.webp" },
    { title: "Ropa", url: "/man-clothes.webp" },
    { title: "Accesorios", url: "/man-accesories.webp" },
  ],
  Mujer: [
    { title: "Zapatos", url: "/women-shoes.webp" },
    { title: "Ropa", url: "/women-clothes.webp" },
    { title: "Accesorios", url: "/women-accesories.webp" },
  ],
};

const products = categoryProductsArr[categoryTranslate] || [];
---

<Layout title={"KathZM Shop - " + categoryTranslate}>

    <main>

        <section class="w-[var(--page-width)] text-black mx-auto pt-10">

            <section class="flex flex-wrap justify-center items-center mb-10 gap-5">

                {products.map((product, index) => (
                    <a href="">
                        <div
                        class="w-[200px] h-[300px] rounded shadow-xl bg-cover bg-center flex items-end justify-center"
                        style={{ backgroundImage: `url('${product.url}')` }}
                        >
                        <h2 class="text-xl bg-[rgba(0,0,0,0.345)] w-full text-center text-white">{product.title}</h2>
                        </div>
                    </a>
                ))}

            </section>

			<h2 class="text-3xl font-bold">Productos de {categoryTranslate}</h2>

			<section class="grid grid-cols-4 pt-5 gap-5">
				{
          			categoryProducts.length ?
                      categoryProducts?.map((item) => (
						<a href={"/product/" + item.name}>
							<ProductCard productName={item.name} productImage={"data:image/png;base64," + item.image} productPrice={item.price} available={item.available} ></ProductCard>
						</a>
				  	))
                    :
                    <h2>No hay productos</h2>
				}
			</section>

			<section class="w-100 flex justify-center mt-5">
				<a href="/allProducts" class="bg-black px-4 py-2 text-white rounded shadow">Mostrar todo</a>
			</section>

		</section>

    </main>

</Layout>