---
import Layout from "../../layouts/Layout.astro";
import fetchProducts from "../../db";
import ProductCard from "../../components/ProductCard.astro";
import { categoryProductsArr, categoryTranslate } from "../../main";
import CategoryCard from "../../components/CategoryCard.astro";

export const prerender = false;

const { category } = Astro.params;
const newCategory = categoryTranslate(category);

let allProducts;

try {
    allProducts = await fetchProducts();
} catch (error) {
    console.error(error.message);
}

const categoryProducts = allProducts?.filter((element) => element.category === newCategory);
---

<Layout title={"KathZM Shop - " + newCategory}>

    <main class="overflow-hidden">

        <section class="w-full lg:w-[var(--page-width)] text-black mx-auto pt-10 px-3 lg:md-0">

			<CategoryCard category={category} />

			<h2 class="text-3xl font-bold">Productos de {newCategory}</h2>

			<section class="px-3 lg:px-0 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 pt-5 gap-x-3">
				{
          			categoryProducts.length ?
                      categoryProducts?.map((item) => (
						<a href={"/product/" + item.name}>
							<ProductCard productName={item.name} productImage={"data:image/png;base64," + item.image} productPrice={item.price} available={item.available} ></ProductCard>
						</a>
				  	))
                    :
                    <h2>No hay productos</h2>
				}
			</section>

		</section>

    </main>

</Layout>