---
import Layout from "../../layouts/Layout.astro";
import fetchProducts from "../../db";
import { USDollar } from "../../main";

const { product } = Astro.params;

let allProducts;

try {
    allProducts = await fetchProducts();
} catch (error) {
    console.error(error.message);
}

const specificProduct = allProducts?.find(e => e.name === product);

if(specificProduct === undefined) return Astro.redirect("/404");

const productId = specificProduct?.id;
const productName = specificProduct?.name;
const productAvailability = specificProduct?.available;
const productPrice = specificProduct?.price;
const productBrand = specificProduct?.brand;
const productImage = specificProduct?.image;
const productSizes = specificProduct?.sizes;
const productInteractions = specificProduct?.interactions;

const classNameAvailable = productAvailability ? "rounded bg-green-200 px-2 py-1" : "rounded bg-red-200 px-2 py-1";
---

<Layout title={productName}>

    <main>

        <section class="w-[var(--page-width)] mx-auto mt-10 flex">
            <img src={"data:image/png;base64," + productImage} alt="" class="max-w-[650px] max-h-[465px]">
            <article class="text-black">
                <small class="uppercase">{productBrand}</small>
                <h1 id="productName" class="font-semibold text-6xl mt-[-5px]">{productName}</h1>
                <p id="idProduct" class="hidden">{productId}</p>
                <p id="numInteractions" class="hidden">{productInteractions}</p>
                <div class="pt-5 flex items-center gap-5">
                    <p class="text-3xl">{USDollar.format(productPrice)} USD</p>
                    <div class=`${classNameAvailable}`>
                        {productAvailability ? <p>Disponible</p> : <p>Agotado</p>}
                    </div>
                </div>
                <div class="pt-5">
                    <p>Tallas</p>
                    <div class="flex pt-3 gap-2">
                        {
                            productSizes?.map((item) => (
                                <p class="rounded-full bg-black text-center text-white px-5 py-1 w-[65px]">{item}</p>
                            ))
                        }
                    </div>
                </div>
                <button id="btnBuy" type="button" class="text-xl flex justify-center items-center gap-1 transition-all hover:bg-[#3C0DEF] mt-10 w-full bg-[#5A30F5] shadow text-white py-2">
                    Comprar por WhatsApp 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.403 5.633A8.919 8.919 0 0 0 12.053 3c-4.948 0-8.976 4.027-8.978 8.977 0 1.582.413 3.126 1.198 4.488L3 21.116l4.759-1.249a8.981 8.981 0 0 0 4.29 1.093h.004c4.947 0 8.975-4.027 8.977-8.977a8.926 8.926 0 0 0-2.627-6.35m-6.35 13.812h-.003a7.446 7.446 0 0 1-3.798-1.041l-.272-.162-2.824.741.753-2.753-.177-.282a7.448 7.448 0 0 1-1.141-3.971c.002-4.114 3.349-7.461 7.465-7.461a7.413 7.413 0 0 1 5.275 2.188 7.42 7.42 0 0 1 2.183 5.279c-.002 4.114-3.349 7.462-7.461 7.462m4.093-5.589c-.225-.113-1.327-.655-1.533-.73-.205-.075-.354-.112-.504.112s-.58.729-.711.879-.262.168-.486.056-.947-.349-1.804-1.113c-.667-.595-1.117-1.329-1.248-1.554s-.014-.346.099-.458c.101-.1.224-.262.336-.393.112-.131.149-.224.224-.374s.038-.281-.019-.393c-.056-.113-.505-1.217-.692-1.666-.181-.435-.366-.377-.504-.383a9.65 9.65 0 0 0-.429-.008.826.826 0 0 0-.599.28c-.206.225-.785.767-.785 1.871s.804 2.171.916 2.321c.112.15 1.582 2.415 3.832 3.387.536.231.954.369 1.279.473.537.171 1.026.146 1.413.089.431-.064 1.327-.542 1.514-1.066.187-.524.187-.973.131-1.067-.056-.094-.207-.151-.43-.263"></path></svg>
                </button>
            </article>
        </section>

    </main>

</Layout>

<script>
    import { updateDoc, doc } from "firebase/firestore";
    import { db } from "../../db";
    const btnBuy = document.querySelector("#btnBuy");

    btnBuy.addEventListener("click", () => {

        const productId = document.querySelector("#idProduct").textContent;
        const ref = doc(db, 'Products', productId);
        updateInteractions(ref);
        
        const productName = document.querySelector("#productName").textContent;
        const phoneNumber = '3168375685';
        const message = `¡Hola! Estoy interesado en obtener más información sobre el producto ${productName}`;
        const whatsappUrl = 'https://api.whatsapp.com/send?phone=' + encodeURIComponent(phoneNumber) +
                            '&text=' + encodeURIComponent(message);
        window.open(whatsappUrl, '_blank');
    })

    async function updateInteractions(ref) {
        const newInteractions = parseInt(document.querySelector("#numInteractions").textContent) + 1;
        updateDoc(
            ref, {
                interactions: newInteractions,
            }
        )
        .catch((error) => {
            console.error(error);
        })
    }
</script>
